{% extends "maqueta.html" %}<!--Extiende el html maqueta-->
{% load staticfiles %}<!--carga los archivos para ser utilizados por la pagina-->
{% block Formulario %}<!--crea el block Formulario que sera mostrado en la maqueta-->
<H2>Creacion de cuenta de usuario</H2>
<form id="registroExterno" class="Form" method="POST" action="#">
    {% csrf_token %}
    <!-- tabla para registrar a un usuario de tipo usuario -->
    <table>
            <tr>
                <td>Nombre Usuario:</td><td><input type="text" id="nombreusuario" name="nombreusuario" required></td>
            </tr>
            <tr>
                <td>Contraseña:</td><td><input type="password" id="contrasenia" name="contrasenia" required></td>
            </tr>
            <tr>
                <td>E-Mail:</td><td><input type="email" id="email" name="email" required></td>
            </tr>
            <tr>
                <td>Rut:</td><td><input type="text" id="rut" name="rut" required></td>
            </tr>
            <tr>
                <td>Nombre:</td><td><input type="text" id="nombre" name="nombre" required></td>
            </tr>
            <tr>
                <td></td> <td><input type=hidden id="perfil" name="perfil" value="Usuario"></td>
            </tr>
    </table>
<input type="submit" value="Registrar" class="btn-enviar">

</form>   
{% endblock %}<!--fin de bloque-->