* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*se define como se calculararn los cuadrados en base al ancho y al sitio y al alto con respecto del padding y el margin 
	content-box indica que todo sera sin considerar padding o borders
	border-box indica que se incluyen en los calculos bordes y padding
	initial se fija el valor por defecto, depende
	*/
}

.contenedor {
	background:#E0E0E0;
	width:100%;	
	
}

body {
	background: #F5F5F5;
}

header {
	background:#85d4b7;/*Determina el color del fondo del header*/
	width:100%;/*Determina el ancho en % que utilizara el header horizontalmente*/
	

	/* Flexbox */
	display: flex;/*Le da la caracteristica de flex al header*/
	justify-content:space-between;/*Determina como se organizaran los items al interior del flexbox en este caso indicando que existira espacio entre ellos*/
	align-items:center;/*Determina el alineamiento de los items dentro del flexbox siendo este al centro*/
	flex-direction:column;/*Determina la direccion que seguiran los items del flexbox, en este caso se organizaran de forma horizontal*/
	flex-wrap:wrap;/*Determina como se comportaran los items cuando no quede espacio horizontal en la pagina, generando este lineas hacia abajo*/
	font-family:consolas;/*Determina la fuente que utilizara el texto del header*/
}


header .logo {
	display: flex;
	flex-direction:row;
	align-items:center;
	color:#fff;
	font-size:30px;
}



header .logo img {
	width:800px;/*Determina el tamaño de la imagen al interior del contenedor logo*/
	margin:20px;
	align-items:center;
	padding: 10px;/*Determina el espacio que existira entre la clase logo y los archivo img en su interior*/
}

header nav {
	width:100%;
	/* Flexbox */

	display:flex;
	flex-wrap:wrap;
	flex-direction:row;
	align-items:center;
	
}

header nav a {
	background:#6dccaa;
	width:20%;
	color:#fff;
	text-align: center;
	text-decoration: none;
	margin: 0.5px;
	padding:10px;
	font-size:30px;

	/* Flexbox */
	flex-grow:1;/*hace que los elementos del flex crezcan hasta acupar el 100% del espacio disponible*/
}

header nav a:hover {
	background:#6da9aa;
}

.areaTrabajo {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	height: 600px;
	padding-left: 20px;
	padding-top: 20px;
	align-items:center;
	flex-direction:column;
	flex-wrap:wrap;
	justify-content:center;
}

.areaTrabajo h1 {
	margin: 0px;
	font-size: 30px;
	margin-bottom: 20px;
	font-family: "Franklin Gothic Medium","Franklin Gothic","ITC Franklin Gothic",Arial,sans-serif;
	letter-spacing: 1px;
	color:#000;
}

.areaTrabajo table tr td {
	font-family: "Franklin Gothic Medium","Franklin Gothic","ITC Franklin Gothic",Arial,sans-serif;
	font-size: 20px;
	color: #000;
}

.form_text {
	height: 30px;
	font-size: 20px;
	color: #000;
	padding: 5px;
	outline: 0;
}

.btn-enviar {
	margin-top: 10px;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#000;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	outline: 0px;
}

.error {
	display:flex;
	font-size: 15px;
	font-family: Arial;
	color: #FF0052;
	flex-flow:row nowrap;
}

/*determina caracteristicas del elemento con el id ciudad*/
#ciudad {
	height: 30px;
	font-size: 15px;
	color: #000;
	padding: 5px;
	outline: 0;
}

/*determina caracteristicas del elemento con el id regiones*/
#regiones {
	height: 30px;
	font-size: 15px;
	color: #000;
	padding: 5px;
	outline: 0;
}

/*determina caracteristicas del elemento con el id viviendas*/
#viviendas {
	height: 30px;
	font-size: 15px;
	color: #000;
	padding: 5px;
	outline: 0;
}

footer {
	background:#BFBFBF;/*#E8E8E8;*/
	width: 100%;
	padding:5px;

	/* Flexbox */
	display: flex;
	flex-wrap:wrap;
	justify-content:space-between;
	text-align:left-side;
}

footer .texto{
	font-family:consolas;
	color:#6E6E6E;
	font-size:30px;
}