{%extends 'maqueta.html'%}
{% block Formulario %}
<form id="registrarTienda" class="Form" method="POST" action="#">
    
    <!-- tabla utilizada para registrar una tienda -->
    <h1>Registro Tienda</h1>
        {% csrf_token %}
        <table>
        <tr>
            <td>Nombre Tienda:</td><td><input type="text" id="nombreTienda" name="nombreTienda" required></td>
        </tr>
        <tr>
            <td>Nombre Sucursal:</td><td><input type="text" id="nombreSucursal" name="nombreSucursal" ></td>
        </tr> 
        <tr>
            <td>Direccion:</td><td><input type="text" id="direccion" name="direccion" ></td>
        </tr>
        <tr>
            <td>Región:</td><td><select id="regiones" ><option value="Online">Seleccione región</option></select></td>
        </tr>
        <tr>
            <td>Ciudad:</td><td><select id="ciudad"><option value="Online">Seleccione ciudad</option></select></td>
        </tr>
       
      </table>
    <input type="submit" value="Registrar" class="btn-enviar">
</form>

{% endblock %}
{% block Lista %}
<!-- este es el listar  -->
<div class="formu">
    <h1>Lista de Tiendas</h1>
    <table id="listaTiendas">
            <tr>
                <td id="top">Nombre Tienda</td>
                <td id="top">Nombre Sucursal</td>
                <td id="top">Direccion</td>
                <td id="top">Región</td>
                <td id="top">Ciudad</td>
            </tr>
        </table>
        
</div>
{% endblock %}