{% extends "maqueta.html" %}<!--Extiende el html maqueta para ser utilizado dentro de el html adoptarMascota-->
{% load staticfiles %}<!--carga los archivos para ser utilizados por la pagina-->

{% block Lista %}
<!-- este es el listar  -->
<div class="formu">
    <h1>Lista de Listas</h1>
    <table id="listaListas">
            <tr>
                <td id="top">Productos</td>
                <td id="top">usuario</td>
                <td id="top">nombre</td>
            </tr>
        </table>
        
</div>
{% endblock %}